:root{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    // background-color: map-get($colors, "base");
    background: linear-gradient(60deg, darken(map-get($colors, "baseblue"), 30%) 0%, map-get($colors, "baseblue") 100%);
    color: #fff;
}

html, body {
    overflow-x: hidden;
}