$colors: (
  "white":              #FFFFFF,
  "black":              #000000,
  "dark":               #434244,
  "dark1":              #0d0b0b,
  "dwhite":             #e6e7e8,
  "base":               #151515,
  "highlight":          #61ae8c,
  "baseblue":           #485563
);

$sizes: (
  "banner": 80vh
);

$breakpoint-lg: 1024px;
$breakpoint-md: 768px;